html {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

h1, h2, h3 {
  color: white;
}

a:link, a:visited, a:hover, a:active {
  color: aquamarine;
  font-size: 16px;
}

#copyright {
  text-align: right;
  color: gray;
}
